<!DOCTYPE html>
<html>
<head>
	
	{{ partial "head.html" . }}

</head>
<body>
  
  <div style="height: 70px;  font-size: 25px; color: white; background-color: red;">  With due regard to the safety and health of participants during the coronavirus outbreak, we have to postpone the conference. </div>


	{{ partial "slider.html" . }}

	{{ partial "wrapper.html" . }}

	{{ partial "feature.html" . }}

	{{ partial "service-home.html" . }}

	{{ partial "call-to-action.html" . }}
	
	{{ partial "plan.html" . }}

	{{ partial "testimonial.html" . }}
	
	{{ partial "wrapper2.html" . }}

	{{ partial "footer.html" . }}

</body>
</html>
